.button {
    padding: 25px;
    font-size: 22px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 15px;
    color: #fff;
    width: 265px;
    &__controls {
        padding: 10px 5px;
        outline: none;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
    }
}