

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    width: 1366px;
    height: 770px;
    margin: 0 auto;
    background-size: cover;
    font-family: sans-serif;
}

header{
    display: flex;
}

/*Header begin*/

.logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 161px;
    padding-top: 50px;
}

.logo-img{
    display: inline-block;
    background: url("../img/logo.png") no-repeat;
    width: 51px;
    height: 45px;
}
.logo-text{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.logo:hover .logo-img{
    background: url("../img/logohover.png") no-repeat;
    transition: 1s;
}
.logo:hover .logo-text a {
    color: #f26522;
    transition: 1s;
}
.logo-text-first{
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: #FFF;
}
.logo-text-second{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFF
}
.right-content{
    display: flex;
    row-gap: 19px;
    flex-direction:column;
    align-items: center;
    padding-left: 660px;
    padding-top: 46px;
    padding-right: 178px;
}
.right-content:hover .right-info{
    color: #f26522;
    transition: 1s;
}
.right-info{
    margin-left: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFF
}
/*Header end*/

/*Start main text*/
.Tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 22px;
    padding-left: 160px;
    padding-right: 178px;
    position: center;
}
.Shopping-Tours {
    background: url("../img/Shopping Tours.png") no-repeat;
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.Sightseeing-Tours{
    background: url("../img/Sightseeing Tours.png") no-repeat;
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.Food-Tours{
    background: url("../img/image.png") no-repeat;
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.Bars-Nightlife{
    background: url("../img/Bars & Nightlife.png") no-repeat;
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.Art-Architecture{
    background: url("../img/Art & Architecture.png") no-repeat;
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.Walking-Tours{
    background: url("../img/Walking Tours.png") no-repeat;
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.info-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 90px;
}
.from {
    font-size: 10px;
    padding-top: 7px;
    padding-left: 16px;
}
.summ {
    font-size: 20px;
    padding-top: 8px;
    padding-left: 16px;
}
.more{
    top:35px;
    left: 70px;
    width: 7px;
    height: 7px;
    display: inline-block;
    transform: rotate(45deg);
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}
.main-info:hover .info-price {
    top: 165px;
    opacity: 1;
    transition: 0.5s;
}
.main-info:hover .info-text {
    color: #f26522;
    transition: 1s;
}
.info-price {
    background-color: #f26522;
    position: absolute;
    overflow: hidden;
    display: block;
    width: 300px;
    height: 55px;
    color: #fff;
    top: 1000px;
    opacity: 0;
}
.View-details-details {
    margin-left: 140px;
    font-size: 14px;
}
/*end main text*/


/*footer begin*/
footer{
   padding-top: 40px;
    padding-left: 530px;
}
.footer-text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFF
}
/*end begin*/
