@import "./variables";
@import "./mixins";
@import "./extends";
@import "./general";

*,
*::after,
*::before {
   box-sizing: border-box;
}

.page__body {
   margin: 0;
   font-family: sans-serif;
}

// Pure css
// @media (min-width: 480px) {
//    .container {
//       max-width: 480px;
//    }
// }

.container {
   width: 100%;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;

   @media (min-width: 576px) {
      padding-left: 15px;
      padding-right: 15px;
   }

   @include mediaQuery(576px, "min") {
      max-width: 576px;
   }
   @include mediaQuery(768px, "min") {
      max-width: 768px;
   }
   @include mediaQuery(992px, "min") {
      max-width: 992px;
   }
   @include mediaQuery(1200px, "min") {
      max-width: 1200px;
   }
}
// :root {
//    --color: #fff;
// }

// body {
//    font: 100% $font-stack;
//    color: $primary-color;

//    background-color: var(--color);
//    width: calc(600px / 960px * 100%);
// }

// .box {
//    @include transform(rotate(30deg));
// }

// html {
//    height: 100%;
// }

// .page__nav {
//    color: royalblue;
// }

// .page__menu {
//    color: royalblue;
// }

// .menu {
//    color: royalblue;
// }

// .menu__item {
//    color: royalblue;
// }

// a {
//    @extend %link-reset-styles;
//    @media screen {
//       color: royalblue;
//    }
// }

// .menu__link {
//    @extend %link-reset-styles;
//    &--active {
//       color: royalblue;
//    }
//    &:hover {
//       color: royalblue;

//       &:nth-child(1) {
//          color: gainsboro;
//       }
//    }
//    &:nth-child(1) {
//       color: royalblue;
//    }
//    @media screen {
//       color: royalblue;
//    }
// }

// .btn {
//    font-size: 30px;
//    padding: 15px 30px;
//    text-align: center;
// }

// .action-btn-1 {
//    @extend .btn;
//    background-color: red;
// }

// .action-btn-2 {
//    @extend .btn;
//    background-color: green;
// }
// ul {
//    display: flex;
//    flex-wrap: wrap;
//    padding-left: 0;
//    list-style: none;
// }
// li {
//    //    width: 33vw;
//    min-width: 300px;
//    flex-grow: 1;
//    background-color: lavender;
//    min-height: 200px;
//    border: 1px solid #000;

//    @media (min-width: 1200px) {
//       flex-grow: 0;
//       width: 25%;
//    }
// }

.page-header__nav {
   display: flex;
   flex-wrap: wrap;
   background-color: #fff;
}

.page-header__logo {
   margin: 12px auto 12px 16px;
}

.page-header__menu {
   @extend %list-reset;
   order: 1;
   width: 100%;
   display: flex;
   justify-content: space-between;
   box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);

   @include mediaQuery(640px, "min") {
      width: max-content;
      order: initial;
      box-shadow: none;
   }
}

.menu__item {
   width: 50%;
}

.menu__link {
   display: block;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   color: #565656;
   text-transform: uppercase;
   text-align: center;
   padding-top: 13px;
   padding-bottom: 13px;

   &--active {
      border-top: 2px solid $green-color;
   }
}

.page-header__login {
   text-transform: uppercase;
   font-weight: 800;
   font-size: 13px;
   line-height: 16px;
   color: $green-color;
   margin-right: 16px;
   align-self: center;
}

.page-header__lang {
   margin-left: 16px;
   margin-right: 16px;
}

.lang-switcher {
   @extend %list-reset;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;

   &::before {
      content: "";
      position: absolute;
      top: -2px;
      right: 74px;
      width: 1px;
      height: calc(100% + 2px);
      background-color: #f4f4f4;
   }

   &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f9f9f9;
      border: 1px solid #f4f4f4;
      border-radius: 15px;
      width: 60px;
      height: 30px;
   }
}

.lang-switcher__item {
   text-transform: uppercase;
   font-size: 10px;
   position: relative;
   z-index: 1;
}

.lang-switcher__link {
   padding-top: 8px;
   padding-bottom: 8px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #909090;

   &--active {
      background-color: #4eaae0;
      border-radius: 14px;
      color: #fff;
   }
}
