$dayBg: #fff;
$nightBg: #000;
$toggleDay: #E6A555;
$toggleNight: #2c4b98;
$size: 105px;
$toggleBgTransition: background-color 300ms ease-in;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #5796b6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $dayBg;
  max-height: 700px;
  min-width: 350px;
  max-width: 600px;
  width: 70vw;
  height: 80vh;
  border-radius: 8vw;
  box-shadow: 3px 3px 20px -6px rgba(0, 0, 0, .5);
  transition: background-color 700ms cubic-bezier(.5, 0, .5, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
}


.toggle--wrapper {
  background-color: $toggleDay;
  width: 20em;
  height: 10em;
  border-radius: 20em;
  padding: 1em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: $toggleBgTransition;
  box-shadow: 3px 3px 20px -6px rgba(0, 0, 0, .5);
  z-index: 1;
}

.toggle--knob {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  background: white;
  border-radius: 50%;
  transform: translateX(0);
  transition: transform 700ms cubic-bezier(.5, 0, .5, 1);
  position: relative;
  border: none;
  &::before {
    content: '';
    display: block;
    background-color: $toggleDay;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: -100%;
    transform-origin: center top;
    transform: translateX(0);
    transition: transform 700ms cubic-bezier(.5, 0, .5, 1), $toggleBgTransition;
  }
}



[data-state="day"] {
  background-color: $dayBg;
  .toggle--wrapper {
    background-color: $toggleDay;
  }
}

[data-state="night"] {
  background-color: $nightBg;
  .toggle--wrapper {
    background-color: $toggleNight;
  }

  .toggle--knob {
    transform: translateX(100%) rotate(25deg);
    &::before {
      transform: translateX(100%) rotate(45deg);
      background-color: $toggleNight;
    }
  }
}