
body {
	/* ffss */
	font-family: sans-serif;
	}

.container {
	width: 1280px;
	margin: 0 auto;
}
.navigation-menu {
	position: center;
	padding-top: 26px;
	padding-left: 330px;
	list-style: none;
	display: inline-block;
}

.navigation-menu-itm{
	display: inline-block;
	margin-left: 72px;
}
.navigation-menu-itm_link{
	text-decoration: none;
	text-transform: uppercase;
	color: #FF0000;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.imege {
	padding-top: 26px;
}
.title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	padding-top: 48px;
	font-style: normal;
	color: #373737;
}
.content-text-title {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	padding-top: 38px;

}
.content-text{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	padding-top: 28px;
}
.button {
	padding-top: 66px;
	padding-left: 545px;
}
.button-text {
	background: #FF0000;
	color: white;
	font-size: 12px;
	padding: 22px 43px;
}
.Copyright{
	padding-top: 85px;
	padding-left: 915px;
	padding-bottom: 25px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	/*color: #373737;*/
}
.switchBg {
	position: fixed;
	top: 25px;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 90px;
	height: 60px;
	margin: 0;
	padding: 0;
	background: rgba(128,128,128,.5);
	border-radius: 0 25px 25px 0;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
}
input[type=radio] {
	display: none;
}
label {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 500;
	color:#000;
	background: #fcfcfc;
	border:0;
	transition: all .4s ease-in-out;
}
label.day {
	border-radius: 50px 0 0 50px;
}
label.night {
	border-radius: 0 50px 50px 0;
}
input#day:checked ~ label.day{
	color:#fff;
	background: #2962ff;
}
input#night:checked ~ label.night{
	color:#fff;
	background: #2962ff;
}
