.button {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    color: #fff;
    &__controls {
        padding: 1rem .5rem;
        outline: none;
        border: none;
        border-radius: 1rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
    }
}