.form {
	width: 540px;
	margin: 100px auto;
	/* padding: 32px; */
	border: 1px solid black;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 32px;
	padding-bottom: 15px;
	background: #d4daf8;
}

.form-avatar {
	border: 3px solid white;
	border-radius: 50%;
	margin-left: 32px;
	transform: translateY(-50%);
}

.form-regist {
	display: flex;
	flex-direction: column;
	margin: 0 32px;
}

.field {
	margin-bottom: 24px;
}
