* {
   /* m0 */
   margin: 0;
   /* p0 */
   padding: 0;
}

body {
   /* ffss */
   font-family: sans-serif;
}

.container {
   width: 1170px;
   margin: 0 auto;
}

.hero {
   /* background: url(../img/hero-bgi.png) no-repeat center / cover; */
   background-image: url(../img/hero-bgi.png);
   /* bgr */
   background-repeat: no-repeat;
   /* bgs */
   background-size: cover;
   /* bgp */
   background-position: center;
   /* padding: 530px 0 130px; */
   padding-top: 530px;
   padding-bottom: 130px;
   color: white;
}

.hero-title {
   font-size: 48px;
   line-height: 59px;
   text-transform: uppercase;
}

h1 {
   font-size: 80px;
}

.hero-subtitle {
   font-size: 18px;
   line-height: 22px;
   /* mt */
   margin-top: 16px;
   /* mb */
   margin-bottom: 22px;
   /* margin: 22px 0 16px; */
}

.hero-slogan {
   /* ttu */
   text-transform: uppercase;
   font-size: 54px;
   line-height: 66px;
   background-color: rgba(0, 0, 0, 0.5);
   /* padding: 38px 0 38px 31px; */
   padding-top: 38px;
   padding-bottom: 38px;
   padding-left: 31px;
}

.hero-slogan-input {
   color: #f48e0b;
   /* border-right: 1px solid; */
}
