:root {
}
/* h1 {
	font-size: 40px;
	font-weight: bold;
	color: transparent;
	background: linear-gradient(to bottom, darkred, 50%, red);
	-webkit-background-clip: text;
} */
/* body {
	background-color: gray;
}



.flex {
	margin: 200px auto;
	width: 500px;
	display: flex;
}
.flex:hover .castle {
	content: url(../logo2.png);
}

.flex:hover .title {
	color: orange;
} */

/* body {
	font-family:  'Ubuntu', sans-serif;
}
h1 {
	color: #ff00ff;
	margin: 300px;
	font-size: 80px;
	font-weight: 500;
}
.second{
	font-weight: 600;
	color: #ff00ff;
	margin: 300px;
	font-size: 80px;
}

div {
	background-image: linear-gradient(90deg, #000 2%, #fff 5%, #000 3%);
	margin: 300px;
	height: 500px; */
/* background-color: #4158d0;
	background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%); */
/* }

.icon-home:hover path {
	fill: green;
} */
/* 
.block {
	width: 200px;
	height: 200px;
	background-color: teal;
	margin: 200px auto;
	animation: moveDiv 2s infinite linear;
}
@keyframes moveDiv {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
} */
