:root {
	--main-color: green;
	--main-padding: 20px;
}

h1 {
	border: 2px solid var(--main-color);
	padding: var(--main-padding);
	color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

a:hover,
a:active {
	color: red;
}

/* .container {
	width: 1280px;
	margin: 0 auto;
}

.posts {
	background-image: url(../parallax-bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 100px;
	padding-top: 100px;
	padding-bottom: 190px;
}

.posts-wrapper-item {
	width: 100px;
	height: 100px;
	background-color: red;
	margin: 2px;
}

.posts-wrapper {
	display: flex;
	flex-wrap: wrap;
} */

/* h1::after {
} */

/* h1 {
	transition: all 0.5s linear;
} */
/* 
.item:nth-of-type(2) {
	color: red;
} */

/* .item:nth-child(even) {
	color: blue;
} */

/* p::first-letter {
	color: aqua;
	font-size: 26px;
}

p::first-line {
    text-decoration: underline;
} */

/* ::selection {
	color: green;
} */

/* Нечётные параграфы */
/* p:nth-of-type(2n + 1) {
	color: red;
} */

/* Чётные параграфы */
/* p:nth-of-type(2n) {
	color: blue;
} */

/* Первый параграф */
/* p:nth-of-type(1) {
	font-weight: bold;
} */

/* .first,
.second {
	height: 100vh;
} */
/* 
p:target {
	background-color: green;
} */
