* {
	/* m0 */
	/* margin: 0; */
	/* p0 */
	/* padding: 0;
	box-sizing: border-box; */
}

body {
	/* ffss */
	font-family: sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.hero {
	/* background: url(../img/hero-bgi.png) no-repeat center / cover; */
	background-image: url(../img/hero-bgi.png);
	/* bgr */
	background-repeat: no-repeat;
	/* bgs */
	background-size: cover;
	/* bgp */
	background-position: center;
	padding: 530px 0 130px;
	/* padding-top: 530px;
	padding-bottom: 130px; */
	color: white;
}

.hero-title {
	font-size: 48px;
	line-height: 59px;
	text-transform: uppercase;
	font-weight: bold;
}

.hero-subtitle {
	font-size: 18px;
	line-height: 22px;
	/* mt */
	margin-top: 16px;
	/* mb */
	margin-bottom: 22px;
	/* margin: 22px 0 16px; */
}

.hero-slogan {
	/* ttu */
	display: inline-block;
	/* width: max-content; */
	text-transform: uppercase;
	font-size: 54px;
	line-height: 66px;
	background-color: rgba(0, 0, 0, 0.5);
	/* padding: 38px 0 38px 31px; */
	/* padding-top: 38px;
	padding-bottom: 38px;
	padding-left: 31px; */
	padding-right: 31px;
	font-weight: bold;
}

.hero-slogan-input {
	/* padding-top: 38px;
	padding-bottom: 38px;
	padding-left: 31px;
	padding-right: 31px; */
	padding: 38px 31px;

	border-right: 1px solid;
	display: inline-block;
}
.navigation {
	/* pb22 */
	padding-bottom: 22px;
	border-bottom: 3px solid;
	color: #f1b128;
	margin-top: 200px;
	margin-bottom: 200px;
	/* df */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-title {
	color: #f1b128;
	font-size: 28px;
	/* display: inline-block; */
	/* margin-right: 236px; */
	text-transform: uppercase;
}
.navigation-menu {
	/* display: inline-block; */
	display: flex;
	list-style: none;
	flex-basis: 60%;
}
.navigation-menu-item {
	/* display: inline; */
	margin-left: 69px;
}

.navigation-menu-item-link {
	/* tdn */
	text-decoration: none;
	/* ttu */
	text-transform: uppercase;
	color: black;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}

.info-media {
	width: calc(100% / 2 - 15px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 22px;
}

.info-desc {
	width: calc(100% / 2 - 15px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.info-desc-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	/* margin-bottom: 22px; */
}

.info-desc-text {
	font-size: 14px;
	line-height: 22px;
	/* margin-bottom: 36px; */
}
.info-desc-link {
	background: #f1ad1d;
	color: white;
	font-size: 14px;
	padding: 19px 27px;
}

.posts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 1000px;
	row-gap: 30px;
}

.posts-item {
	border-bottom: 6px solid #333333;
	padding-bottom: 5px;
	width: 370px;
}

.posts-item-img > img {
	width: 100%;
}

.posts-item-header {
	display: flex;
	align-items: center;
	margin-top: 7px;
}

.item-header-img {
	padding: 12px;
	background-color: #333333;
	margin-right: 8px;
}

.item-header-title {
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	font-weight: bold;
}

.posts-item-text {
	font-size: 14px;
	line-height: 17px;
	color: #505050;
	border-bottom: 1px solid;
	padding-bottom: 14px;
	margin-top: 15px;
}
.posts-item-info {
	display: flex;
	justify-content: space-between;
	margin-top: 11px;
}
.item-info-date,
.item-info-link {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #828282;
}

.team {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin-bottom: 150px;
}

.team-child img {
	width: 100%;
}

.tabs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 15px;
	column-gap: 15px;
}

.tabs-item {
	position: relative;
	overflow: hidden;
}

.tabs-item img {
	width: 100%;
}

.tabs-item:hover .tabs-item-hover {
	top: 0;
	opacity: 1;
}

.tabs-item-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	top: -1000px;
	opacity: 0;
	left: 0;
	transition: all 0.5s;
}

.yellow-color {
	color: #f1b128;
}
