
body {
    background: url("../img/backgroundimage.png") no-repeat;
    background-size: cover ;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    margin: 0 auto;
}
.container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
}
.logo-titel {
    padding-left: 80px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.logo-titel-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}
.logo-titel-text:hover {
    transition: 0.5s;
    color: #01813F;
}
.header-icons {
    padding-left: 905px;
}
.icons {
    padding-left: 17px;
    fill: white;
}
.icons:hover {
    transition: 0.5s;
    fill: #01813F;
}
.rit {
    width: 1px;
    height: 20px;
    border-right: 1px solid #FFF;
    padding-left: 25px;
}
.logo-text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.logo-text-login {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.logo-text-login:hover {
    transition: 0.5s;
    color: #01813F;
}
.logo-text-Sign {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding-right: 80px;
}
.logo-text-Sign:hover {
    transition: 0.5s;
    color: #01813F;
}

/*Header begin*/
/*Start main text*/

.forms{
    background-color: #fff;
    margin-top: 55px;
    margin-left: 510px;
    width: 445px;
    height: 585px;
    position: center;
}
.form-login {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}
.form-title {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-size: 20px;
    left: 60px;
    top: 30px;
    color: #434343;
}
.form-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    left: -60px;
    background-color: #3cb878;
}
.form-link {
    padding-top: 33px;
    padding-right: 60px;
    font-size: 14px;
    color: #3cb878;
}
.form-link:hover {
    text-decoration: underline;
}
.form-network {
    display: flex;
    justify-content: space-between;
}
.form-buttom-facebook {
    position: relative;
    margin-top: 15px;
    margin-left: 60px;
    border-radius: 2px;
    background-color: #305db8;
    width: 160px;
    height: 48px;
}
.form-buttom-facebook::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
    top: 12px;
    left: 44px;
    background-color: rgba(80,80,80,0.5);
}
.icons-svg{
    padding-top: 12px;
    padding-left: 12px;
}
.icons-svg-text {
    position: absolute;
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}
.form-buttom-google {
    position: relative;
    margin-top: 15px;
    margin-right: 60px;
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: #df4a32;
}
.form-buttom-google::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
    left: 49px;
    top: 10px;
    background-color: rgba(80,80,80,0.5);
}
.form-text {
    position: relative;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #6d7982;
}
.form-text::before {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    top: 5px;
    left: 58px;
    background-color: rgba(80,80,80,0.5);
}
.form-text::after {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    top: 5px;
    right: 60px;
    background-color: rgba(80,80,80,0.5);
}
#nameField {
    width: 324px;
    height: 44px;
    margin-top: 16px;
    margin-left: 60px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
#nameField:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
#nameField:focus {
    font-weight: bold;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}
#secondNameField {
    width: 324px;
    height: 44px;
    margin-top: 16px;
    margin-left: 60px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
#secondNameField:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
#secondNameField:focus {
    font-weight: bold;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}
#emailField {
    width: 324px;
    height: 44px;
    margin-top: 16px;
    margin-left: 60px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
#emailField:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
#emailField:focus {
    font-weight: bold;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}
#choosePasswordField {
    width: 324px;
    height: 44px;
    margin-top: 16px;
    margin-left: 60px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
#choosePasswordField:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

#choosePasswordField:focus {
    font-weight: bold;
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}
#confirmPasswordField {
    width: 324px;
    height: 44px;
    margin-top: 16px;
    margin-left: 60px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
#confirmPasswordField:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
#confirmPasswordField:focus {
    font-weight: bold;
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
}
#checkbox{
    margin-top: 15px;
    margin-left: 65px;
}
.checkbox-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 15px;
}
.checkbox-green-text {
    font-family: 'Ubuntu', sans-serif;
    color: #3cb878;
    cursor: pointer;
}
.checkbox-green-text:hover {
    text-decoration: underline;
}
.button-create {
    font-family: 'Ubuntu', sans-serif;
    width: 320px;
    height: 46px;
    margin-top: 20px;
    margin-left: 60px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    background-color: #3cb878;
    color: #fff;
    cursor: pointer;
}
/*end main text*/

