
body {
	font-family: sans-serif;

}
.container {
	width: 1170px;
	margin: 0 auto;
}
/*Header begin*/
.navigation {
	height: 75px;
	width: 100%;
	display: flex;
	position: relative;
	justify-content: space-between;
	background: #313131;
}
.navigation-title{
	align-self: center;
}
.navigation-title-text{
	position: relative;
	padding-left: 83px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
}
.navigation-title-text:before{
	content: url("../img/logo-img-title.png");
	position: absolute;
	left: 29px;
	background: rgba(0, 0, 0, 0.0001);
}
.navigation-menu-itm_link{
	padding-right: 35px;
	color: #FFF;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
}
.navigation-menu-itm_link:hover {
	color: #14B9D5;
}
.fa-search {
	padding: 25px;
	background: #000;
	font-size: 15px;
}
/*Header end*/

/*Start main text*/
/*--------------------Start THE LATEST NEWS-------------------------------------*/
.header-img {
	background-image: url("../img/header-bg.jpeg");
	background-attachment: fixed;
	background-position: 50% 75%;
	background-repeat: no-repeat;
	background-size: 140%;
	height: 400px;
	box-shadow:0 0 0 200px rgba(0, 0, 0, 0.33) inset;
}
.header-img-title{
	padding-top: 165px;
	padding-bottom: 45px;
	text-align: center;
	font-family: sans-serif;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	color: #fff;
}
.header-img-text {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
}
.header-img-link-first{
	margin: 10px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	padding: 20px 19px;
	border-radius: 4px;
	background-color: #89ca62;
	color: #fff;
}
.header-img-link-second{
	margin: 10px;
	padding: 20px 30px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
	background-color: #14b9d5;
	color: #fff ;
}
/*-----------------------end THE LATEST NEWS------------------------------------*/
/*---------------------Start Most popular posts---------------------------------*/
.content {
	background-color: #f2f2f2;
}
.section-title {
	padding: 50px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 37px;
	color: #18b4cf;
}
.content-img {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 1020px;
}
.content-text {
	padding: 20px 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #353A3D;
	background-color: #fff;
}
.content-img-post {
	display: flex;
	flex-direction: column;
}
.content-item:nth-child(1) {
	margin-right: 30px;
	margin-bottom: 30px;
}
.content-item:nth-child(2) {
	margin-right: 30px;
}
.content-item:nth-child(3) {
	margin-right: 30px;
	margin-bottom: 30px;
}
.content-item:nth-child(4) {
	margin-right: 30px;
}
.content-item:nth-child(5) {
	margin-bottom: 30px;
}
/*-----------------------end THE LATEST NEWS------------------------------------*/
/*-----------------------Start our most popular---------------------------------*/
.content-img-second {
	background-image: url('../img/parallax-bg.jpeg');
	background-attachment: fixed;
	background-position: 40% 5%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	box-shadow:0 0 0 300px rgba(0, 0, 0, 0.33) inset;
}
.content-img-second-title {
	position: relative;
	padding-top: 105px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
}
.content-img-second-title::before {
	content: '';
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	width: 60px;
	height: 3px;
    margin-top: 180px;
	left: 48%;
	border: 1px #169cb4 solid;
}
.content-img-second-title-logo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	margin-top: 280px;
	padding-left: 360px;
	margin-right: 360px;
}
/*выравниваю лого*/
.blok1{
	padding-top: 15px;
}
.blok2{
	padding-top: 5px;
}
.blok4{
	padding-top: 5px;
}
/*-----------------------end our most popular----------------------------------*/
/*-----------------------Start Top Rated---------------------------------------*/
.top-rated-photo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}
/*-----------------------end Top Rated-----------------------------------------*/
/*-----------------------Start hot news---------------------------------------*/
.hot-news-info {
	display: grid;
	grid-template-rows: 259px 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px 35px;
	grid-template-areas:
            "item1 item1 item1 item2"
            "item3 item3 item4 item4"
            "item5 item5 item6 item6"
            "item7 item8 item8 item8"
}

.item1 {
	grid-area: item1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 14px;
	text-align: right;
	line-height: 1.3em;
	background-color: #f9f7f7;
	color: #5B6469;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.item2 {
	grid-area: item2;
	display: grid;
	grid-template-rows: 1fr 50px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	background-color: #f9f7f7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
	font-style: normal;
	color: #353A3D;
}

.item3 {
	grid-area: item3;
	display: grid;
	grid-template-rows: 1fr 155px;
	grid-template-columns: 554px;
	font-size: 14px;
	text-align: right;
	font-style: normal;
	font-weight: 600;
	color: #5B6469;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.item4 {
	grid-area: item4;
	display: grid;
	grid-template-rows: 1fr 155px;
	grid-template-columns: 554px;
	justify-content: end;
	font-size: 14px;
	text-align: right;
	font-style: normal;
	font-weight: 600;
	color: #5B6469;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.item5 {
	grid-area: item5;
	display: grid;
	grid-template-rows: 1fr 155px;
	grid-template-columns: 554px;
	font-size: 14px;
	text-align: right;
	font-style: normal;
	color: #5B6469;
	font-weight: 600;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.item6 {
	grid-area: item6;
	display: grid;
	grid-template-rows: 1fr 155px;
	grid-template-columns: 554px;
	justify-content: end;
	font-size: 14px;
	text-align: right;
	color: #5B6469;
	font-style: normal;
	font-weight: 600;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.item7 {
	grid-area: item7;
	display: grid;
	grid-template-rows: 1fr 50px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	background-color: #f9f7f7;
	color: #353A3D;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.item8 {
	grid-area: item8;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 14px;
	text-align: right;
	background: #F9F7F7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
	color: #5B6469;
	font-weight: 600;
}

.hot-news-info-subtitle {
	padding-top: 41px;
	padding-right: 24px;
	font-weight: 700;
	font-size: 18px;
}
.hot-news-info-text2 {
	padding: 22px 24px 37px 24px;
	line-height: 1.5em;
}

.hot-news-info-img-subtitle2 {
	font-style: normal;
	font-weight: bold;
	padding: 20px 27px 22px 0;
	font-size: 18px;
	color: #353A3D;
}

.hot-news-info-img-text {
	padding-right: 27px;
	line-height: 1.5em;
}

.hot-news-info-img-title {
	padding: 15px 42px;
}

.hot-news-info-img-subblock {
	background-color: #f9f7f7;
}

/*-----------------------end hot news-----------------------------------------*/
/*footer begin*/

footer {
	background-color: #1d2124;
}

.with-copyright {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.footer-text {
	padding: 29px 30px;
	font-size: 13px;
	color: #fff;
	align-items: center;
	font-style: normal;
	font-weight: normal;
	text-align: right;
}

.footer-logo {
	position: relative;
	padding: 26px 0;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
}

.footer-logo::before {
	content: url("../img/Vector Smart Object copy 3.png");
	position: absolute;
	left: -40px;
	top: 30px;
}
/*end begin*/
