
body {
	/* ffss */
	font-family: sans-serif;
}
.container {
	width: 1280px;
	margin: 0 auto;
}
span{
	color: #18e3ea;
}

/*Header begin*/
.logo{
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 80px;
    line-height: 94px;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
}
.tabs-nav{
	display: flex;
	justify-content: center;
	background-color: #35444F;

}
.tablinks {
	padding: 26px 33px 19px;
	display: inline-block;
	border-left: 1px solid white;
	transition: all 0.5s cubic-bezier(0.71, 0.1, 0.31, 1);
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF

}
.tablinks:hover{
	background-color: #222F3A;
}
/*Header end*/

/*Start main text*/
main{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 48px;
}
aside {
	width: 344px;
	height: 399px;
	border: 1px solid #000000;
	flex-direction: column;
}
aside a {
	padding: 28px 40px 25px 40px;
}
.tabs-nav-l {
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 27px;
	display: block;
	transition: all 0.5s cubic-bezier(0.71, 0.1, 0.31, 1);
}
.tabs-nav-l:hover{
	font-size: 27px;
	line-height: 27px;
	color: #35444F;
	background: #DBDBDB;
	padding: 27px 38px 27px 78px;
	display: block;
}
.content {
	width: 885px;
	height: 529px;
}
img{
	padding: 75px 268px 73px 297px;
	transition: 1.5s;
	display: block;
}
.content-img {
	border: 1px solid #000000;

}
img:hover {
	transform: scale(1.2);
}
.main-text {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
	padding-top: 37px;
}
/*end main text*/

/*footer begin*/
footer{
	padding-top: 354px;
	padding-bottom: 30px;
}
.footer-tabs-nav {
	display: flex;
	background: rgba(99, 105, 110, 0.48);
	padding: 26px 40px 19px 40px;
}
.footer-tablinks{
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	align-items: center;
	color: #0C1927;
	padding: 0 12px 0 19px;
	transition: all 1.5s;
}
.footer-tablinks:hover{
	font-size: 28px;
	line-height: 28px;
	color: #3181A6;
	border-bottom: 1px solid #3181A6;
}
.footer-tablinks-logo{
	margin-left: auto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: #0C1927;
}
/*end begin*/
