* {
    /* m0 */
    /* margin: 0; */
    /* p0 */
    /* padding: 0;
    box-sizing: border-box; */
}

body {
    /* ffss */
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.hero {
    background-image: url("Layer 21 1.png");
    background-repeat: no-repeat;
    /* bgs */
    background-size: cover;
    /* bgp */
    background-position: center;
    padding: 530px 0 130px;
    /* padding-top: 530px;
    padding-bottom: 130px; */
    color: white;
}
.hero-title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    /* mt */
    margin-top: 16px;
    /* mb */
    margin-bottom: 22px;
    /* margin: 22px 0 16px; */
}

.hero-slogan {
    /* ttu */
    display: inline-block;
    /* width: max-content; */
    text-transform: uppercase;
    font-size: 54px;
    line-height: 66px;
    background-color: rgba(0, 0, 0, 0.5);
    /* padding: 38px 0 38px 31px; */
    /* padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 31px; */
    padding-right: 31px;
    font-weight: bold;
}

.hero-slogan-input {
    /* padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 31px;
    padding-right: 31px; */
    padding: 38px 31px;

    border-right: 1px solid;
    display: inline-block;
}
.navigation {
    /* pb22 */
    padding-bottom: 22px;
    border-bottom: 3px solid;
    color: #f1b128;
    margin-top: 200px;
    margin-bottom: 200px;
    /* df */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-title {
    color: #f1b128;
    font-size: 28px;
    /* display: inline-block; */
    /* margin-right: 236px; */
    text-transform: uppercase;
}
.navigation-menu {
    /* display: inline-block; */
    display: flex;
    list-style: none;
    flex-basis: 60%;
}
.navigation-menu-itm {
    /* display: inline; */
    margin-left: 69px;
}

.navigation-menu-itm_link {
    /* tdn */
    text-decoration: none;
    /* ttu */
    text-transform: uppercase;
    color: black;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.info-media {
    width: calc(100% / 2 - 15px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
}

.info-desc {
    width: calc(100% / 2 - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.info-desc-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    /* margin-bottom: 22px; */
}

.info-desc-text {
    font-size: 14px;
    line-height: 22px;
    /* margin-bottom: 36px; */
}
.info-desk-link {
    background: #f1ad1d;
    color: white;
    font-size: 14px;
    padding: 19px 27px;
}






.yellow-color {
    color: #f1b128;
}
