.my-form {
	width: 500px;
	margin: 200px auto;
	border-radius: 10px;
	padding: 20px;
	background-color: gray;

	display: flex;
	flex-direction: column;
}

.my-form-field {
	border: none;
	outline: none;
	padding: 15px;
	border-radius: 5px;
	color: blue;
}

.my-form-field:not(:last-child) {
	margin-bottom: 20px;
}

.my-form-field:focus + .icons-search {
	display: none;
}

.my-form-field::placeholder {
	color: red;
	letter-spacing: 2px;
	font-style: italic;
}

.my-form-field:focus {
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.my-form-field:invalid {
}

.my-form-submit {
	margin-top: 70px;
}

.my-form-field-search {
	position: relative;
}

.my-form-field-search .my-form-field {
	width: 100%;
}

.icons-search {
	position: absolute;
	height: 15px;
	top: 15px;
	left: 10px;
}

.my-from-check-input {
	display: none;
}
.my-form-field-input:not(:checked){
	
}
.my-form-field-input:checked {

}

textarea {
	resize: none;
}