.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  max-width: 300px;
  padding: 12px;
}

.input {
  margin-top: 12px;
  border-radius: 6px;
  padding: 6px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 2px;
}
