
body {
	/* ffss */
	font-family: sans-serif;

}

.container {
	width: 1280px;
	margin: 0 auto;

}
.navigation-menu {
	position: center;
	padding-top: 26px;
	padding-left: 330px;
	list-style: none;
	display: inline-block;
}

.navigation-menu-itm{
	display: inline-block;
	margin-left: 72px;
}
.navigation-menu-itm_link{
	text-decoration: none;
	text-transform: uppercase;
	color: #FF0000;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.imege {
	padding-top: 26px;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	padding-top: 48px;
	font-style: normal;
	color: #373737;
}
.content-text-title {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #373737;
	padding-top: 38px;

}
.content-text{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #373737;
	padding-top: 28px;
}
.button {
	padding-top: 66px;
	padding-left: 545px;
}
.button-text {
	background: #FF0000;
	color: white;
	font-size: 12px;
	padding: 22px 43px;
}
.Copyright{
	padding-top: 85px;
	padding-left: 915px;
	padding-bottom: 25px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #373737;

}