* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.nav {
	display: flex;
	background-color: gray;
	justify-content: center;
}

.link {
	padding: 23px 38px;
	display: inline-block;
	border-left: 1px solid white;
	transition: all 1s;
}

.link:hover {
	background-color: red;
}

.footer {
	display: flex;
    justify-content: center;
	background-color: teal;
	color: white;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.last-child {
   
	margin-left: auto;
}


main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* width: 344px; */
    border: 1px solid black;
    /* height: 300px; */
    /* background-color: green; */
}

aside a {
    padding: 25px 0 25px 40px;
    transition: all 1s;
}

aside a:hover {
    background: grey;
    padding-left: 70px;
}

.content{
    width: 70%;
    background-color: teal;
    height: 800px;
    border: 1px solid black;
    width: 885px;
}