@import "./variables";
@import "./mixins";
@import "./extends";
@import "./general";

*,
*::after,
*::before {
   box-sizing: border-box;
}

.page__body {
   margin: 0;
   font-family: sans-serif;
}

// Pure css
// @media (min-width: 480px) {
//    .container {
//       max-width: 480px;
//    }
// }

.container {
   width: 100%;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @include mediaQuery(576px, "min") {
      max-width: 576px;
   }
   @include mediaQuery(768px, "min") {
      max-width: 768px;
   }
   @include mediaQuery(992px, "min") {
      max-width: 992px;
   }
   @include mediaQuery(1200px, "min") {
      max-width: 1200px;
   }
}

.page-header__nav {
   display: flex;
   flex-wrap: wrap;
   background-color: #fff;

   @include mediaQuery(640px, "min") {
      flex-wrap: nowrap;
      align-items: center;
   }
}

.page-header__logo {
   margin: 12px auto 12px 16px;
}

.page-header__menu {
   @extend %list-reset;
   order: 1;
   width: 100%;
   display: flex;
   justify-content: space-between;
   box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);

   @include mediaQuery(640px, "min") {
      width: max-content;
      order: initial;
      box-shadow: none;
      margin-right: 30px;
   }

   @include mediaQuery(992px, "min") {
      margin-right: 100px;
   }
}

.menu__item {
   width: 50%;

   @include mediaQuery(640px, "min") {
      width: 100%;
      &:not(:last-child) {
         margin-right: 15px;
      }
   }

   @include mediaQuery(992px, "min") {
      &:not(:last-child) {
         margin-right: 30px;
      }
   }
}

.menu__link {
   display: block;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   color: #565656;
   text-transform: uppercase;
   text-align: center;
   padding-top: 13px;
   padding-bottom: 13px;

   &--active {
      border-top: 2px solid $green-color;
   }
}

.page-header__login {
   text-transform: uppercase;
   font-weight: 800;
   font-size: 13px;
   line-height: 16px;
   color: $green-color;
   margin-right: 16px;
   align-self: center;

   &:not(:first-child) {
      display: none;
   }

   @include mediaQuery(992px, "min") {
      &:not(:first-child) {
         display: inline-block;
      }

      &:first-child {
         margin-right: 0;
         &::after {
            content: "|";
            margin-left: 7px;
         }
      }
   }
}

.page-header__lang {
   margin-left: 16px;
   margin-right: 16px;
}

.lang-switcher {
   @extend %list-reset;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;

   &::before {
      content: "";
      position: absolute;
      top: -2px;
      right: 74px;
      width: 1px;
      height: calc(100% + 2px);
      background-color: #f4f4f4;
   }

   &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f9f9f9;
      border: 1px solid #f4f4f4;
      border-radius: 15px;
      width: 60px;
      height: 30px;
   }
}

.lang-switcher__item {
   text-transform: uppercase;
   font-size: 10px;
   position: relative;
   z-index: 1;
}

.lang-switcher__link {
   padding-top: 8px;
   padding-bottom: 8px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #909090;

   &--active {
      background-color: #4eaae0;
      border-radius: 14px;
      color: #fff;
   }
}
.hero {
   background-color: $green-color;
   padding-top: 220px;
   @include mediaQuery(992px, "max") {
      padding-top: 120px;
   }
}
.hero__title {
   font-weight: 900;
   font-size: 60px;
   line-height: 75px;
   text-align: center;
   text-transform: uppercase;
   color: #ffffff;
   @include mediaQuery(992px, "max") {
      font-size: 45px;
      line-height: 65px;
   }
   @include mediaQuery(768px, "max") {
      font-size: 30px;
      line-height: 35px;
   }
}
.hero__subtitle {
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   color: #ffffff;
}

.hero__statistics {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   @include mediaQuery(992px, "max") {
      grid-template-columns: repeat(2, 1fr);
   }
}
.item {
   padding-bottom: 50px;
   padding-top: 25px;

   &:not(:last-child) {
      border-right: 2px solid rgba(255, 255, 255, 0.25);
   }

   @include mediaQuery(992px, "max") {
      &:nth-child(2) {
         border-right: none;
         border-bottom: 2px solid rgba(255, 255, 255, 0.25);
      }
      &:nth-child(1) {
         border-bottom: 2px solid rgba(255, 255, 255, 0.25);
      }
   }

   @include mediaQuery(480px, "max") {
      padding: 10px;
   }
}

.item__title {
   font-weight: 800;
   font-size: 40px;
   line-height: 49px;
   text-align: center;
   color: #ffffff;
   margin: 0;

   @include mediaQuery(480px, "max") {
      font-size: 28px;
      line-height: 37px;
   }
}

.item__text {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #ffffff;
   margin: 0;
}
