.flex {
	/* background-color: grey;
	height: 100vh; */
    display: flex;
	justify-content: space-between;
    /* justify-content: space-between; вертикаль */
    /* align-items: center; горизталь   */
}

.flex-item {
	width: 200px;
	height: 200px;
	background-color: orange;
	margin: 5px;
    font-size: 40px;
    text-align: center;
}
