.block {
	height: 100vh;
	background-color: orange;
	width: 100%;
}
.block1 {
	height: 100vh;
	background-color: green;
	width: 100%;
}

.sticky {
	width: 50px;
	height: 50px;
	background-color: red;
	position: sticky;
	top: 30px;
	left: 30px;
}

ul {
	display: flex;
	background-color: orange;
	/* height: 100vh; */
	padding: 50px;
	border: 1px solid black;
}

.flex-item {
	width: 20px;
	height: 20px;
	background-color: red;
	margin: 2px;
}
.flex-item:last-child {
	margin-left: auto;
}

ul li:last-child {
	margin-left: auto;
}

header {
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
}
p {
	margin: 200px;
	font-size: 50px;
	position: relative;
}

p::after {
	content: '';
	font-size: 18px;
	position: absolute;
	top: 160%;
	right: 70%;
	width: 200px;
	height: 2px;
	background-color: red;
}
p::before {
	content: url();
	font-size: 18px;
	position: absolute;
	top: 180%;
	right: 80%;
	width: 200px;
	height: 2px;
	background-color: red;
}

/* .bgi {
	position: absolute;
	background-image: url(../img/hero-bgi.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: -1;
} */
